<div class="Aboutus">

    <a href="#loginScreen" class="button"><img src="../mywebapplication/Modules/Aboutus/image/j1.jpg"></a>
</div>
<div id="loginScreen">
    <a href="#" class="cancel">&times;</a>
    <a class="image1"><img src="../singlepage/modules/about/image/j1.jpg" class="img">
        <p> The main mission of the institution is to offer a Comprehensive Engineering Education that provides enriched teaching and learning process with holistic approach, inculcates the learners with intellectual experience and integrated research, prepare the learners for advanced studies and employability with global competance, promotes technical consultative services for real time requirements with excellent communication skills and life long learning, develops the learners for contributing to the profession and society with effectiveness and dedication</p></a>
</div>
<div id="cover"> </div>