<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Modules</a>
            <ul>
                <li><a onclick="fnShowBlurtxt()">Blurtxt</a></li>
                <li><a onclick="fnShowButton()">Button</a></li>
                <li><a onclick="fnShowcolumns()">columns</a></li>
                <li><a onclick="fnShowEmpty()">Empty</a></li>
                <li><a onclick="fnShowFirstpara()">Firstpara</a></li>
                <li><a onclick="fnShowFormatfirstlast()">Formatfirstlast</a></li>
                <li><a onclick="fnShowHoverbox()">Hoverbox</a></li>
                <li><a onclick="fnShowOrderdlist()">Orderdlist</a></li>
                <li><a onclick="fnShowThreeboxes()">Maintain height&width</a></li>
            </ul>
        </li>
        <li><a href="#">Animation</a>
            <ul>
                <li><a onclick="fnShowHumanface()">Humanface</a></li>
                <li><a onclick="fnShowImagehover()">Imagehover</a></li>
                <li><a onclick="fnShowBorderimage()">BorderImage</a></li>
                <li><a onclick="fnShowCircleImage()">CircleImage</a></li>
                <li><a onclick="fnShowRibbon() ">Ribbon</a></li>
            </ul>
        </li>
        <li><a href="#">contact</a></li>
        <li>
            <a href="#loginScreen">Aboutus</a>
            <div id="loginScreen">
                <a href="#" class="cancel">&times;</a>
                
                    <p> We are emerging markets driven and focused around the product life cycle of technology focused companies. From idea to commercialization, we strive to build convergent solutions that help our clients grow their business and realize their market vision.We add value when it matters most by supporting clients when they face critical competitive threats requiring help pivoting with ease, scaling faster, and expanding by testing and integrating new ideas.</p>
                
            </div>
            <div id="cover"> </div>
        </li>
    </ul
</nav>
