.borderimg3 {
    margin-top: 50px;
    border: 15px solid transparent;
    padding: 20px;
    border-image-source: url(../Images/border.jpg);
    text-align: center;
    background-color: #33ffff;
    border-image-slice: 30;
}
